/* ------------------------------------------------------------------------------------------------------------------ */
/* Page and sections                                                                                                  */
/* ------------------------------------------------------------------------------------------------------------------ */

#error {
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    width: 40em;
    min-width: 30em;
    max-width: 100%;
    margin: auto;
    position: relative;
    top: 5em;
}

#error > div {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ff5b5b;
}

body.dark-theme #error > div {
    border: 1px solid #ff8b8b;
}

body.dark-theme #error > div:not(:first-child) {
    border-top: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Row, cursor and content                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

#error .title {
    width: 100%;
    background-color: #ffafaf;
    border-bottom: none;
}

body.dark-theme #error .title {
    background-color: #680000;
}

#error .message {
    margin-bottom: 5em;
}

#error .errorMessage {
    color: red;
    font-weight: bold;
}

body.dark-theme #error .errorMessage {
    color: #ff8888;
}

#error .jsonError {
    padding: 0.2em;
    border-radius: 0.2em;
    color: red;
    border: 1px solid red;
    background-color: yellow;
}

body.dark-theme #error .jsonError {
    color: yellow;
    border: 1px solid yellow;
    background-color: red;
}

pre {
    line-height: 1.8em;
}
