/* ------------------------------------------------------------------------------------------------------------------ */
/* Page                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------ */

#home {
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    width: 60em;
    min-width: 30em;
    max-width: 100%;
    margin: auto;
    position: relative;
    top: 40%;
    padding-left: 1em;
    padding-right: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Row, cursor and content                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#home .row .cursor {
    width: 2.5em;
    min-width: 2.5em;
}

#home .row:not(.selected) .cursor {
    visibility: hidden;
}

#home .row .cursor img.icon {
    width: 1.4em;
    height: 1.4em;
    padding-top: 0.1em;
}

#home .row .row-content {
    width: calc(100% - 2.5em);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Filter                                                                                                             */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .input {
    font-size: 1.2em;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
}

body.dark-theme #home .input {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #aaa;
}

#home .input.warning {
    background-color: #fffd75;
}

body.dark-theme #home .input.warning {
    border-bottom: 1px solid yellow;
    background-color: rgb(65, 65, 0);
}

#home .input.error {
    background-color: #ffbcbc;
}

body.dark-theme #home .input.error {
    border-bottom: 1px solid rgb(255, 187, 0);
    background-color: rgb(129, 0, 0);
}

#home .no-focus.filter-row:not(:focus-within) {
    opacity: 0.333;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Suggestion rows                                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .suggestions {
    width: 100%;
    margin-top: 2em;
}

#home .suggestions .row-content {
    padding: 0.4em 0.4em 0.4em 0.4em;
}

#home .suggestions .row-content:hover {
    cursor: pointer;
}

#home .suggestions .row:nth-child(odd) .row-content {
    background-color: #99999926;
}

body.dark-theme #home .suggestions .row:nth-child(odd) .row-content {
    background-color: #44444426;
}

#home .suggestions .row:last-child {
    margin-bottom: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Keyword                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .suggestions .keyword {
    min-width: 10em;
    white-space: nowrap;
}

#home .suggestions .row:nth-child(odd):not(.selected) .keyword .matched {
    color: #999999;
}

body.dark-theme #home .suggestions .row:nth-child(odd):not(.selected) .keyword .matched {
    color: #bbbbbb;
}

#home .suggestions .row:nth-child(even):not(.selected) .keyword .matched {
    color: #aaaaaa;
}

body.dark-theme #home .suggestions .row:nth-child(even):not(.selected) .keyword .matched {
    color: #cccccc;
}

#home .suggestions .row.selected .keyword .matched {
    color: #cccccc;
}

body.dark-theme #home .suggestions .row.selected .keyword .matched {
    color: #eeeeee;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Favicon                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .suggestions .favicon {
    margin: 0 0.5em 0 0.5em;
    min-width: 1.3em;
}

#home .suggestions .favicon img {
    width: 1.1em;
    height: 1.1em;
    border: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Description                                                                                                        */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .suggestions .description {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

#home .suggestions .matched-substring {
    background-color: #ffff7b;
    color: black;
}

body.dark-theme #home .suggestions .matched-substring {
    background-color: #444400;
    color: rgb(255, 255, 107);
}

#home .suggestions .row:nth-child(odd):not(.selected):not(.segment) .more-indicator-text {
    color: #999999;
}

body.dark-theme #home .suggestions .row:nth-child(odd):not(.selected):not(.segment) .more-indicator-text {
    color: #bbbbbb;
}

#home .suggestions .row:nth-child(even):not(.selected):not(.segment) .more-indicator-text {
    color: #aaaaaa;
}

body.dark-theme #home .suggestions .row:nth-child(even):not(.selected):not(.segment) .more-indicator-text {
    color: #cccccc;
}

#home .suggestions .row:not(.selected) .more-indicator-key {
    display: none;
}

#home .suggestions .row.selected .more-indicator-text {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Hotkeys                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .suggestions .description .key,
#home .suggestions .description .hotkey {
    display: inline-block;
    min-width: 1em;
    text-align: center;
    padding: 0 0.1em 0 0.1em;
    border: 0px solid #666;
    border-radius: 0.25em;
    margin: 0 0.1em;
}

#home .suggestions .description .key,
#home .suggestions .row .description .hotkey {
    background-color: white;
    color: black;
    border: 1px solid #666;
    padding: 0 0.1em;
}

body.dark-theme #home .suggestions .description .key,
body.dark-theme #home .suggestions .row .description .hotkey {
    background-color: #eaeaea;
    border: 1px solid black;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Highlighted suggestion                                                                                             */
/* ------------------------------------------------------------------------------------------------------------------ */

#home > .row.selected + .suggestions > .row:nth-child(odd).match .row-content,
#home .suggestions > .row.selected .row-content {
    background: #404040 !important;
    color: white;
}

body.dark-theme #home > .row.selected + .suggestions > .row:nth-child(odd).match .row-content,
body.dark-theme #home .suggestions > .row.selected .row-content {
    background: #555555 !important;
    color: #ffffff;
}

#home .suggestions .selected .keyword .matched {
    color: #dddddd;
}

body.dark-theme #home .suggestions .selected .keyword .matched {
    color: #eeeeee;
}

#home .suggestions .selected .matched-substring {
    color: black;
}

body.dark-theme #home .suggestions .selected .matched-substring {
    color: #ffffff;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Fade out suggestions at the bottom                                                                                 */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .suggestions.truncated .row:nth-last-child(4) .row-content {
    opacity: 0.8;
}

#home .suggestions.truncated .row:nth-last-child(3) .row-content {
    opacity: 0.6;
}

#home .suggestions.truncated .row:nth-last-child(2) .row-content {
    opacity: 0.4;
}

#home .suggestions.truncated .row:nth-last-child(1) .row-content {
    opacity: 0.2;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Notifications                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

#home .notification {
    width: 100%;
    padding-left: 2.5em;
}

#home .notification .header {
    padding: 0.4em;
    width: 100%;
    background-color: #ffbfbf;
    border: 1px solid #ff5b5b;
}

body.dark-theme #home .notification .header {
    background-color: #860000;
    border: 1px solid #ff8b8b;
}

#home .notification .description {
    padding: 0.4em;
    width: 100%;
    border: 1px solid #ff5b5b;
    border-top: none;
}

body.dark-theme #home .notification .description {
    border: 1px solid #ff8b8b;
    border-top: none;
}

#home .notification .key {
    color: black;
}

body.dark-theme #home .notification .key {
    color: #cccccc;
}

#home .notification .welcome p.example > .key:first-child {
    min-width: 7.5em;
    display: inline-block;
}

#home .description.spacing {
    line-height: 1.5em;
}
