/* ------------------------------------------------------------------------------------------------------------------ */
/* URL encoding                                                                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

#link-tools .url-encoding input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

#link-tools .url-encoding input.invalid {
    background-color: #ffafaf;
    border: 1px solid red;
}

body.dark-theme #link-tools .url-encoding input.invalid {
    background-color: #550000;
    border: 1px solid #ff6060;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* HAR parser                                                                                                         */
/* ------------------------------------------------------------------------------------------------------------------ */

#link-tools .har-parser {
    margin-bottom: 2em;
}

#link-tools .har-parser .url {
    word-break: break-all;
}

#link-tools .har-parser textarea {
    width: 100%;
    height: 12em;
}

#link-tools .har-parser textarea.invalid {
    background-color: #ffafaf;
    border: 1px solid red;
}

body.dark-theme #link-tools .har-parser textarea.invalid {
    background-color: #550000;
    border: 1px solid #ff6060;
}
