/* ------------------------------------------------------------------------------------------------------------------ */
/* Burger icon                                                                                                        */
/* ------------------------------------------------------------------------------------------------------------------ */

#menu a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

#menu .burger-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em 1.5em 0 0;
    opacity: 0.8;
}

#menu .burger-icon div {
    width: 25px;
    height: 4px;
    background-color: #888;
    margin-bottom: 4px;
    border-radius: 3px;
}

body.dark-theme #menu .burger-icon div {
    background-color: #ccc;
}

#menu .burger-icon:hover {
    cursor: pointer;
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Close icon                                                                                                         */
/* ------------------------------------------------------------------------------------------------------------------ */

#menu .close-icon {
    position: absolute;
    right: 1.2em;
    top: 1.3em;
    width: 1.6em;
    height: 1.44em;
    opacity: 0.8;
    display: none;
}

#menu .close-icon:before,
#menu .close-icon:after {
    position: absolute;
    top: 0;
    right: 0.84em;
    content: " ";
    height: 1.44em;
    width: 0.2em;
    border-radius: 0.16em;
    background-color: #888;
}

body.dark-theme #menu .close-icon:before,
body.dark-theme #menu .close-icon:after {
    background-color: #ccc;
}

#menu .close-icon:before {
    transform: rotate(45deg);
}

#menu .close-icon:after {
    transform: rotate(-45deg);
}

#menu .close-icon:hover {
    cursor: pointer;
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Menu items                                                                                                         */
/* ------------------------------------------------------------------------------------------------------------------ */

#menu .items {
    position: absolute;
    top: 1.4em;
    right: 3.5em;
    background-color: #eee;
    border: 1px solid #888;
}

body.dark-theme #menu .items {
    background-color: #2a2a2a;
    border: 1px solid #ccc;
}

#menu .items a {
    display: block;
    text-decoration: none;
    color: black;
    outline: none;
    width: 100%;
    padding: 0.4em;
    white-space: nowrap;
}

body.dark-theme #menu .items a {
    color: #dddddd;
}

#menu .items a:first-child {
    border-bottom: 1px solid #888888;
    background-color: #dddddd;
}

body.dark-theme #menu .items a:first-child {
    border-bottom: 1px solid #ccc;
    background-color: #80808022;
}

#menu .items a:hover {
    cursor: pointer;
    background-color: #444444;
    color: white;
}

body.dark-theme #menu .items a:hover {
    background-color: #555555;
    color: #ffffff;
}
