/* ------------------------------------------------------------------------------------------------------------------ */
/* Page                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------ */

#setup {
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    width: 45em;
    min-width: 30em;
    max-width: 100%;
    margin: auto;
    position: relative;
    padding-left: 2.5em;
}

#setup > div:first-child {
    display: flex;
    height: 10em;
    width: 100%;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Error message                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

#setup .error {
    border: 1px solid red;
    padding: 0.5em;
    box-shadow: 0px 0px 1em red;
    margin-bottom: 1em;
    width: 100%;
    border-radius: 0.3em;
}

body.dark-theme #setup .error {
    background-color: rgb(148, 0, 0);
    border: 1px solid #ff7676;
    box-shadow: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Header                                                                                                             */
/* ------------------------------------------------------------------------------------------------------------------ */

#setup h1 {
    font-size: 2em;
}

#setup h1 img {
    width: 0.7em;
    height: 0.7em;
    margin-left: -1.3em;
    margin-right: 0.2em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Instructions                                                                                                       */
/* ------------------------------------------------------------------------------------------------------------------ */

#setup .instructions {
    line-height: 1.5em;
    max-width: 100%;
    margin-top: -0.5em;
}

#setup .instructions .filename {
    background-color: #f2f2f2;
    border: 1px solid silver;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

body.dark-theme #setup .instructions .filename {
    background-color: #3a3a3a;
    border: 1px solid #666666;
}

#setup .instructions pre {
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    padding: 1em;
    margin: 2em 0 2em 0;
    border-radius: 0.3em;
}

body.dark-theme #setup .instructions pre {
    background-color: #444;
    border: 1px solid #999;
}

#setup .instructions pre .highlight {
    color: red;
}

body.dark-theme #setup .instructions pre .highlight {
    color: yellow;
}

#setup .instructions pre .arrow {
    display: inline-block;
    width: 2em;
    text-align: right;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Syntax warning                                                                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

#setup .syntax-warning {
    margin-top: 1.5em;
}

#setup .syntax-warning .important {
    color: red;
    background-color: #ffff6b;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 0.25em 0 0.25em 0;
}

body.dark-theme #setup .syntax-warning .important {
    color: #ff8888;
    background-color: #666633;
    border-top: 1px solid #cc6666;
    border-bottom: 1px solid #cc6666;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Button                                                                                                             */
/* ------------------------------------------------------------------------------------------------------------------ */

#setup a.button {
    background: black;
    border-radius: 0.3em;
    text-decoration: none;
    outline: none;
    padding: 0.3em 0.5em;
    padding-right: 0.5em;
    color: yellow;
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

body.dark-theme #setup a.button {
    background: #444;
    color: yellow;
    border: 1px solid #999;
}
