/* ------------------------------------------------------------------------------------------------------------------ */
/* General layout                                                                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

#shortlist {
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    width: 50em;
    min-width: 20em;
    max-width: 100%;
    margin: auto;
    position: relative;
    top: 25%;
}

#shortlist a {
    color: inherit;
    text-decoration: none;
    outline: none;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Rows                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------ */

#shortlist .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

#shortlist a:not(:last-child) .row .text {
    border-bottom: 1px solid #aaa;
}

body.dark-theme #shortlist a:not(:last-child) .row .text {
    border-bottom: 1px solid #777;
}

#shortlist a:focus .row .text {
    background: #80808030;
    outline: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Cursor                                                                                                             */
/* ------------------------------------------------------------------------------------------------------------------ */

#shortlist .row .icon {
    width: 2.5em;
    height: 1.5em;
    margin-top: 0.6em;
}

#shortlist .row .icon img {
    width: 1.5em;
    height: 1.5em;
}

#shortlist a:focus .row .icon img {
    visibility: visible;
}

#shortlist a:not(:focus) .row .icon img {
    visibility: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Title and URL                                                                                                      */
/* ------------------------------------------------------------------------------------------------------------------ */

#shortlist .row .text {
    width: 100%;
    padding: 0.8em;
}

#shortlist .row .text .title {
    page-break-after: always;
}

#shortlist .row .text .url {
    font-size: 0.8em;
    color: #666666;
    page-break-before: always;
    margin-top: 0.75em;
}

body.dark-theme #shortlist .row .text .url {
    color: #aaaaaa;
}

#shortlist .row .text .url .favicon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

#shortlist .row .text .url .favicon img {
    height: 100%;
    width: 100%;
    margin-bottom: -0.2em;
}

#shortlist a:focus .row .text .key {
    background-color: white;
}

body.dark-theme #shortlist a:focus .row .text .key {
    background-color: #3a3a3a;
}
