/* ------------------------------------------------------------------------------------------------------------------ */
/* Body                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------ */

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

body.dark-theme {
    background-color: #282828;
    color: white;
}

* {
    box-sizing: border-box;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Tools pages                                                                                                        */
/* ------------------------------------------------------------------------------------------------------------------ */

.utility-page {
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    width: 45em;
    min-width: 30em;
    max-width: 100%;
    margin: auto;
    position: relative;
    top: 5em;
    padding: 0 1em 3em 1em;
    line-height: 1.3em;
}

.utility-page > * {
    width: 100%;
}

.utility-page > div:not(:last-child) {
    margin-bottom: 2em;
}

.utility-page h1 {
    width: 100%;
    font-size: 1em;
    background: #161616 !important;
    color: #ffff6c;
    padding: 0.3em;
    font-weight: normal;
    margin-bottom: 1.2em;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

body.dark-theme .utility-page h1 {
    background: rgb(0, 0, 0) !important;
    color: #fffb7d;
}

body.dark-theme .utility-page :is(input, textarea) {
    border-radius: 0;
    background-color: transparent;
    color: white;
    border: 1px solid #ffffff88;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Other                                                                                                              */
/* ------------------------------------------------------------------------------------------------------------------ */

.key {
    border: 1px solid #666666;
    padding: 0 0.15em 0 0.15em;
    border-radius: 0.25em;
    background-color: #dddddd;
    color: #444444;
}

body.dark-theme .key {
    border: 1px solid #999999;
    background-color: #3a3a3a;
    color: #cccccc;
}

body.dark-theme .utility-page :is(input, textarea):focus {
    border-radius: 0;
    outline: none;
    border: 1px solid #ffffff88;
}

body.dark-theme a,
body.dark-theme a:visited {
    color: rgb(37, 199, 254);
}
