/* ------------------------------------------------------------------------------------------------------------------ */
/* Config warning                                                                                                     */
/* ------------------------------------------------------------------------------------------------------------------ */

#favicon-tools .config-warning {
    border: 1px solid red;
    padding: 0.5em;
    box-shadow: 0px 0px 1em red;
    margin-bottom: 2.8em;
    background-color: #ffff83;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Gallery                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

#favicon-tools .online .listing,
#favicon-tools .missing .listing,
#favicon-tools .offline .listing {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    margin: auto;
    position: relative;
}

#favicon-tools .online .row,
#favicon-tools .missing .row,
#favicon-tools .offline .row {
    width: 100%;
}

#favicon-tools .online .row .icon,
#favicon-tools .offline .row .icon {
    float: left;
    margin-right: 0.5em;
}

#favicon-tools .online .row .icon a,
#favicon-tools .online .row .icon img {
    border: none;
    outline: none;
    text-decoration: none;
}

#favicon-tools .online .row .icon img,
#favicon-tools .offline .row .icon img {
    width: 1.2em;
    height: 1.2em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* curl                                                                                                            */
/* ------------------------------------------------------------------------------------------------------------------ */

#favicon-tools .curl {
    width: 100%;
    overflow: auto;
    height: 10em;
}
