/* ------------------------------------------------------------------------------------------------------------------ */
/* Font                                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------ */

body.wy-body-for-nav[role],
h1[id],
h2[id] {
    font-family: sans-serif !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* readthedocs                                                                                                        */
/* ------------------------------------------------------------------------------------------------------------------ */

/* make padding right to the text content white (the same as the text content background) */
.wy-nav-content-wrap {
    background-color: #fcfcfc;
}

/* dark background for the "ShortyCut" title on top of the TOC */
.wy-side-nav-search {
    text-align: left;
    background-color: #343131;
    margin-bottom: 0;
}

/* adjust spacing below the "ShortyCut" title on top of the TOC */
.wy-side-nav-search .icon-home {
    padding-top: 0.2em;
    margin-bottom: 0;
}

/* remove icon before "ShortyCut" title above the TOC */
.wy-side-nav-search .icon-home::before {
    content: "";
}

/* hide the search bar */
.wy-side-nav-search div[role="search"] {
    display: none;
}

/* hide the "previous" and "next" buttons below the TOC */
.rst-versions .rst-current-version {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Menu section headers                                                                                               */
/* ------------------------------------------------------------------------------------------------------------------ */

.wy-nav-side p.caption {
    color: #d9d9d9;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
    margin-bottom: 1em;
}

.wy-nav-side p.caption:not(:nth-child(2)) {
    margin-top: 2em;
}

.wy-nav-side p.caption:nth-child(2) {
    margin-top: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Hide the index.md from the menu                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */

.wy-menu.wy-menu-vertical > ul:first-child {
    display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Content headers                                                                                                    */
/* ------------------------------------------------------------------------------------------------------------------ */

h1,
h2 {
    font-size: 1.38rem;
}

h1 img,
h2 img,
h3 img {
    margin-left: -1.2em;
    margin-right: 0.2em;
    height: 0.65em;
    width: 0.65em;
    margin-top: -0.1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Hide bread crumbs */
/* ------------------------------------------------------------------------------------------------------------------ */

footer,
[role="navigation"]:has(+ .document) {
    display: none;
}
